# Ignorar el archivo .env que contiene variables sensibles
.env

# Ignorar los archivos de bases de datos locales
*.sqlite3

# Ignorar archivos de migración de Django
**/migrations/*
!**/migrations/__init__.py